card {
    background-color: #E0D1B1;
    display: block;
    width: 100%;
    margin-left: 40%;
    margin-top: 60px;
}

name {
    font-size: 30pt;
    margin-bottom: 16pt;
    color: #315FBD;
    font-weight: bold;
}

student {
	display: block;
    font-size: 13pt;
    margin-left: 70pt;
    color: #315FBD;
	font-weight: bold;
	margin-bottom: 16pt;
}


QQ, tel, email {
    display: block;
    font-size: 15pt;
    margin-top: 8pt;
    margin-bottom: 8pt;
    font-style: italic;
}

postcode,organization, address {
    font-size: 12pt;
    margin-left:7pt;
	margin-right:7pt;
}