card {
    background-color: whitesmoke;
    display: block;
    width: 100%;
    margin-left: 90pt;
    margin-top: 60px;
}

齐硕:hover:after {
    font-size: 23pt;
    margin-bottom: 16pt;
    color: orange;
    font-weight: bold;
	content:学号(href)
}

联系方式 {

     display: block;
    margin-left: 0;
    margin-top: 16pt;
    font-size: 18pt;
}

QQ, 电话, 邮箱 {
    display: block;
    font-size: 15pt;
    margin-top: 5pt;
     margin-bottom: 5pt;
    font-style: italic;
}

工作单位, 地址 {
    display: block;
    font-size: 15pt;
    margin-top: 5pt;
}