
root{
	background-color: #A3BCF0;
    display: block;
    width: 70%;
    margin: auto;
    margin-top: 60px;
	border: 5px solid #CCF8F8;
    border-radius: 5px;
	
}

Image{
	margin:auto;
	margin-top:35px;
    display: block;
	width:80%;
}

Image::before{
	content:"ID:"attr(ID);
	font-style:bold;
	font-size: 20px;
	display:block;
	margin-bottom:10px;
}

BasicInfo{
    display:block;
	margin-bottom:15px;
}

BasicInfo::after{
	content: "Url:  "attr(Source);
    display: block;
	margin-top:13px;
}

BasicInfo:hover::before{
	content: "Time:  "attr(Time);
    display: block;
}

BasicInfo::before{
	content:"From:  " attr(Author);
	display:block;
	margin-bottom:10px;
}

Resolution::before{
	content: "Resolution:  ";
}

Format::before{
	content: "Format:  ";
}

Size::before{
	content: "Size:  ";
}

Resolution,Format,Size{
	font-size: 16px;
    margin-right: 50px;
}


DetailedInfo{
	display:block;	
 }

DetailedInfo::before{
	content:"Name:  "attr(name);
	display: block;
	margin-top: 5px;
    font-size: 22px;
    margin-bottom: 10pt;
    color: #9D1F1F;
    font-weight: bold;
    margin-right: 30px;
 }

Style::before{
	content:"Style:  "attr(name);
	margin-top: 10px;
    font-size: 20px;
    margin-bottom: 16pt;
    color: #20AAAB;
    font-weight: bold;
    margin-right: 20px;
 }


Introduction::before{
	content: "Introduction:  ";
}

Style,Introduction{
	display:block;
	margin-bottom:15pt;
	font-size:18px;
}





